import(methods)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)
import(SummarizedExperiment)

importFrom(utils, untar)
importFrom(tools, file_path_sans_ext)

export(use_spark_driver, use_hail_home, use_hail_context, HailContext,
       install_hail)

export(readHailExperiment, readHailExperimentFromVCF)
