import(methods)
import(BiocGenerics)
import(SummarizedExperiment)

importFrom(utils, untar)
importFrom(tools, file_path_sans_ext)

export(use_spark_driver, use_hail_home, HailContext, use_hail_context,
       readHailExperiment)
export(use_hail_context, hail_context)
